<%= form_with(
      model: time_track,
      url: start_time_tracks_path(time_track),
      method: :post,
      class: 'g-3'
    ) do |form| %>
  <div class="col-6">
    <div class="input-group mb-3">
      <%= form.text_field :description, autocomplete: "off", class: "form-control", placeholder: "Description" %>
      <%= form.button 'Start', type: :submit, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
